body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 5000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

.App {
  height: 100vh;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
  margin: 5px;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: cal(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1.25rem;
}

.nav-item:hover {
  text-decoration: underline;
}

.hero-container {
  position: relative;
  display: flex;
  margin: 5px;

  padding: 5px;
  max-width: 100%;
  overflow: hidden;
  height: 600px;
  justify-content: flex-start;
  align-items: center;
}
.hero-image {
  width: 50%;
  height: 570px;
  margin: 10px;
}

.card-group {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.card-container {
  width: 15rem;
  height: 20rem;
  border: solid;
  overflow: hidden;
  border-radius: 8%;
  margin: 20px;
}

.card-label {
  width: 100%;
  text-align: center;
  align-items: center;
}

.card-header {
  width: 100%;
  height: 33%;
  align-items: center;
  text-align: center;
}
.card-description {
  position: relative;
  max-width: 100%;
  height: 100px;
  border-style: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
  overflow: hidden;
  padding: 2px;
  text-align: center;
}

.card-description p {
  width: 100%;
  height: 100%;
  font-size: 11px;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 15px;
  margin-right: 2px;
  margin-left: 2px;
}
.recipe-image {
  width: 100%;
  position: relative;
}

.card-button {
  display: flex;
  position: static;
  margin-bottom: 0;
  margin-top: 12px;
  justify-content: center;
}

.view-button,
.edit-button,
.delete-button {
  width: 70px;
  margin-right: 2px;
  margin-left: 2px;
  cursor: pointer;
  border-radius: 20px;
}

.view-button:hover {
  background-color: green;
  color: white;
}

.edit-button:hover {
  background-color: yellow;
  color: black;
}
.delete-button:hover {
  background-color: red;
  color: white;
}

.card-container:hover {
  cursor: pointer;
  box-shadow: 2px 2px;
}

.add-recipe {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-right: 20px;
}
.add-recipe-button {
  cursor: pointer;
}

.login-page {
  background-color: yellow;
  display: flex;
  justify-content: flex-end;
  width: 500px;
  height: 500px;
  border: solid;
  margin-left: 150px;
}
